.navbar{
  padding: 10px;
  background-color: white;

}
.nav-link{
  font-size:1.2rem;
  color: black;

}
.navbar-brand{
  font-size:1.5rem;
  font-weight: bold;
  color: black;
  padding-left: 7px;
}
