body {
   margin: 0px;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;

}


.left {
  left: 0;
  background-color: #111;
  background-image: url("https://d25tv1xepz39hi.cloudfront.net/2018-10-01/files/Pancake_small.gif");
  background-repeat: no-repeat;
 background-size: 80%;
 background-position: 50% 50%;
  width:30%;

}

.right {
  right: 0;
  background-color: white;
  width:70%;
  text-align: center;
  /* color: black;
  text-align: center;
  padding-top: 15%; */
}

.signupsection{
  color: black;
  text-align: center;
  padding-top: 15%;
}

.navbar-brand{
  font-size:1.5rem;
  font-weight: bold;
  color: black;
  padding-left: 7px;

}
